@import "colors.scss";

.wrapper-footer{
  width: 100%;
  background-color:$header-portfolio-footer-color
}


.footer {
    width: 1020px;
    margin: 0 auto;
    height: 76px;
    background-color:$header-portfolio-footer-color;
    display: flex;
    justify-content: space-between;
  }
  
  .copyright {
    font-weight: 900;
    font-size: 13px;
    line-height: 18px;
  
    display: flex;
    align-items: center;
    color: #666d89;
  
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 30px 0 29px 40px;
  }
  
  .icons {
    display: flex;
    justify-content: space-between;
    padding: 22px 42px 22px 0;
  }
  
  .ico-google-plus {
    margin: 0 10px;
  }
  
  .ico-linkedin {
    margin: 0 0 0 10px;
  }

  .ico-facebook:hover, .ico-google-plus:hover, .ico-twitter:hover, .ico-linkedin:hover {
    border-radius: 50%;
    box-shadow: 0 0 13px black; 
    cursor: pointer;
  }

  @media (max-width:1020px){
    .footer {
      width: 100%;
    }
  }