#wrapper_slider{
  background-color: #F06C64;
}

.slider_content {
  display: flex;
  max-width: 1020px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;

}

.left_arrow {
  position: absolute;
  top: 50%;
  left: 4%;
}

.right_arrow {
  position: absolute;
  top: 50%;
  right: 4%;
}

#left_arrow:hover {
  cursor: pointer;
  width: 2%;
  border-radius: 50%;
  box-shadow: 0 0 0 black; 
  cursor: pointer;
}
#right_arrow:hover {
  cursor: pointer;
  width: 2%;
}

#red_slide{
  max-width: 100%;
}


@media (min-width: 768px) and (max-width:1019px){
   


    }