html {
  scroll-behavior: smooth;
}

body {

  font-family: "Lato", sans-serif;
  font-style: normal;
}



@import "header";
@import "slider";
@import "services";
@import "portfolio";
@import "footer";