@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  margin: 0;
}

#wrapper_header {
  background-color: #2D303A;
  border-bottom: 6px solid #323746;
}

.header {
  margin: 0 auto;
  height: 89px;
  text-transform: uppercase;
  font-size: 12px;
  max-width: 1020px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.burger_button, .burger_menu, .burger_navigation {
  display: none;
}

.logo {
  margin-left: 40px;
}

.header_logo_text {
  margin: 0;
  display: inline-block;
  vertical-align: top;
  font-size: 25px;
  color: white;
}

.header_logo_symbol {
  font-size: 25px;
  color: #f06c64;
}

.header_logo_text_burger {
  margin: 0;
  display: inline-block;
  vertical-align: top;
  font-size: 25px;
  color: white;
}

.header_logo_symbol_burger {
  font-size: 25px;
  color: #f06c64;
}

.header_list_burger_off {
  color: white;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 48px 40px 33px 0px;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  letter-spacing: -0.035em;
}

li .header_list_item,
.header_list_item_contact {
  display: inline-block;
  width: 100%;
  height: auto;
}

li a:hover {
  color: #f06c64;
  cursor: pointer;
}

.header_list_item::after {
  position: relative;
  bottom: 0px;
  content: "·";
  padding-right: 15px;
  padding-left: 15px;
}

.header_list_link {
  color: white;
  text-decoration: none;
}

@media (max-width: 1020px) {
  .header {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .header {
    justify-content: center;
    height: 71px;
  }

  .navigation {
    display: none;
  }

  .burger_button {
    z-index: 10;
    position: absolute;
    top: 28px;
    left: 20px;
    bottom: 25px;
    display: block;
    width: 27px;
    height: 26px;
  }

  .menu_line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin-bottom: 6.4px;
    border-radius: 4px;
  }

  .burger_menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #2d303a;
    width: 75%;
    z-index: 5;
    transform: translateX(-100%);
    visibility: hidden;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
  }

  .burger_menu_active {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0;
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }

  .logo_burger_menu {
    margin-top: 25px;
  }

  .header_logo_text {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    color: white;
  }

  .header_logo_symbol {
    font-size: 25px;
    color: #f06c64;
  }

  .header_logo_text_burger {
    margin: 0;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    color: white;
  }

  .header_logo_symbol_burger {
    font-size: 25px;
    color: #f06c64;
  }

  .burger_navigation {
    display: block;
  }

  .header_list_burger_on {
    list-style-type: none;
    margin-top: 184px;
    padding: 0;
  }

  .header_list_item::after {
    display: none;
  }

  .header_list_link {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
  }

  .header_list_item {
    margin-bottom: 27px;
  }
}
.rotate {
  transform: rotate(90deg);
  transition: all 0.3s;
}

#wrapper_slider {
  background-color: #f06c64;
}

.slider_content {
  display: flex;
  max-width: 1020px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.image_wrapper {
  display: flex;
  margin: 0 auto;
  overflow: hidden;
  width: 100%;
}

#line {
  display: flex;
  width: 100%;
  transition: all 1s;
}

#red_slide {
  width: 100%;
}

#blue_slide {
  width: 100%;
}

.left_arrow {
  position: absolute;
  top: 50%;
  left: 4%;
  z-index: 1;
}

.right_arrow {
  position: absolute;
  top: 50%;
  right: 4%;
  z-index: 1;
}

#left_arrow:hover {
  cursor: pointer;
  width: 2%;
  border-radius: 50%;
  box-shadow: 0 0 0 black;
  cursor: pointer;
}

#right_arrow:hover {
  cursor: pointer;
  width: 2%;
}

#wrapper-services {
  background-color: #f2f2f2;
  width: 100%;
  border-bottom: 6px solid #ffffff;
}

.services {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1020px;
  background-color: #f2f2f2;
}

.wrapper_services {
  display: flex;
  flex-direction: column;
  padding: 60px 40px 0 40px;
}

.services-description {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #666d89;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.services-list {
  max-width: 1020px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  text-align: justify;
  margin: 1px;
}

div.services-description h2 {
  margin: 0;
  padding: 0;
}

.services-item {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  margin: 4px 0px 26px 0px;
}

.card-icon {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 20px 19px 0 0;
}

.card-content {
  max-width: 220px;
  max-height: 120px;
  overflow: hidden;
}

div.card-content h3 {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
}

div.card-content p {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  text-align: justify;
  color: #767e9e;
}

div.services-description p {
  max-width: 936px;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  text-align: justify;
}

@media (min-width: 768px) and (max-width: 1019px) {
  .wrapper_services {
    padding: 41px 41px 30px 42px;
  }

  .services-list {
    margin: 0 15px 0 0;
  }

  div.card-content p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    color: #767e9e;
    margin: 0;
  }

  .services-item {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .services-item {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 4px 0px 5px 0px;
    padding: 0;
  }

  .wrapper_services {
    padding: 25px 43px 0 33px;
  }

  .card-icon {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 19px 13px 0 0;
  }

  div.card-content h3 {
    margin: 10px 0;
  }

  div.services-description p {
    margin: 10px 0;
  }
}
#wrapper-porfolio {
  background-color: #2D303A;
  border-bottom: 6px solid #323746;
}

.portfolio {
  max-width: 1020px;
  margin: 0 auto;
  background-color: #2D303A;
  padding: 60px 0px 68px 0px;
}

.portfolio_context {
  margin-left: 40px;
}

.portfolio-description h2 {
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #666d89;
}

.portfolio-description p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
}

.portfolio-images-block {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.portfolio-image:nth-child(1n+13) {
  display: none;
}

.portfolio-item {
  border: 1px solid #767E9E;
  box-sizing: border-box;
  border-radius: 5px;
  display: inline-block;
  margin-right: 10px;
  padding: 5px;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #767e9e;
}

.portfolio-item:hover {
  border-color: #DEDEDE;
  cursor: pointer;
  color: #DEDEDE;
}

.portfolio_button_active {
  border-color: #DEDEDE;
  cursor: pointer;
  color: #DEDEDE;
}

.portfolio-image:hover {
  cursor: pointer;
  box-shadow: 0 0 30px white;
}

.portfolio-list {
  padding: 0;
}

@media (min-width: 768px) and (max-width: 1019px) {
  .portfolio-description p {
    padding-right: 70px;
  }

  .portfolio-image {
    width: calc(33% - 20px);
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .portfolio {
    padding: 42px 0px 68px 0px;
  }

  .portfolio-description p {
    padding-right: 70px;
  }

  .portfolio-image {
    width: calc(50% - 20px);
  }

  .portfolio_context {
    margin-left: 30px;
  }

  .portfolio-images-block {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .portfolio-description p {
    text-align: justify;
  }
}
@media (min-width: 320px) and (max-width: 374px) {
  .portfolio-item {
    margin: 20px 0;
  }

  .portfolio-description p {
    padding-right: 70px;
  }

  .portfolio-image {
    width: calc(100% - 20px);
  }
}
.wrapper-footer {
  width: 100%;
  background-color: #2D303A;
}

.footer {
  width: 1020px;
  margin: 0 auto;
  height: 76px;
  background-color: #2D303A;
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-weight: 900;
  font-size: 13px;
  line-height: 18px;
  align-items: center;
  color: #666d89;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 30px 0 29px 40px;
}

.icons {
  display: flex;
  justify-content: space-between;
  padding: 22px 42px 22px 0;
}

.ico-google-plus {
  margin: 0 10px;
}

.ico-linkedin {
  margin: 0 0 0 10px;
}

.ico-facebook:hover, .ico-google-plus:hover, .ico-twitter:hover, .ico-linkedin:hover {
  border-radius: 50%;
  box-shadow: 0 0 13px black;
  cursor: pointer;
}

@media (max-width: 1020px) {
  .footer {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1019px) {
  .icons {
    display: flex;
    justify-content: space-between;
    padding: 22px 30px 22px 0;
  }
}
@media (min-width: 375px) and (max-width: 767px) {
  .copyright {
    display: none;
  }

  .footer {
    display: flex;
    justify-content: center;
  }

  .icons {
    display: flex;
    justify-content: space-between;
    padding: 22px 0 22px 0;
  }
}
@media (min-width: 320px) and (max-width: 374px) {
  .copyright {
    display: none;
  }

  .icons {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 22px 0 22px 0;
  }
}

/*# sourceMappingURL=style.css.map */
