:root {
  --scale: 1;
  --invert: 0;
  --blur: 0px;
  --color: #ffffff;
}
body {
  background-color: var(--color,#ff0000);
}
h1{
  text-align: center; 
  margin: 100px; 
}

.container{
    display: flex;
    justify-content: space-evenly;
}

.range-wrapper{
    display: flex;
    flex-direction: column;
}

.image-container img {
  transform: scale(var(--scale,1));
  filter: invert(var(--invert,0)) blur(var(--blur,0px));
}